body{
    margin: 0;
    padding: 0;
}
header{
    height: 400px;
    background-color: #dod1b3;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('https://unsplash.com/photos/bSwOJ6qmG8Q/download?ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjY4NTAzNzc5&force=true&w=1920') bottom no-repeat;
    /*alt source- image/background.jpg*/
    background-size: cover;
}
h1{
    color:whitesmoke;
    /*alt color- color: #c6be94;*/
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
}
article:nth-child(-n+2) h2::before{
    content: "New ";
    font-style:italic;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
}

footer{
padding-top: 20px;
padding-bottom: 60px;
text-align: center;
}
footer .links{
margin-bottom: 50px;
}
footer .links > a{
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.copyright{
    color:rgb(108, 117, 125);
    font-family: 'Times New Roman', Times, serif;
}
.news{
    background-color: #fff;
    padding: 50px 0 32px;
}
article{
    width: 768px;
    margin: 0 auto 32px;
    padding: 6px 15px;
    border-bottom: 1px solid rgb(128, 128, 128);    
}
article:nth-child(even){
    background-color: lightcyan;
}
article a{
    color: rgb(33, 37, 41);
    text-decoration: none;
}
article a:hover{
    color: #0085a1;
}
article h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}
.article-meta {
    color: rgb(134, 142, 150);
    margin-bottom: 5px;
}
article img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
